{% extends "main.html" %}

{% block dt %}

{% endblock %}

{% block content %}
 <div data-role="collapsibleset" data-theme="a" data-content-theme="a">   
     <br>
     <br>
 <div data-role="collapsible" data-theme="a" data-content-theme="a" >
    <h3 class="ui-btn ui-icon-calendar ui-btn-icon-right">Календарь</h3>
    <form action="#" method="POST">
          <input value="" name="date" type="date" data-role="datebox" id="date" data-theme="a"
          data-options='{"mode":"calbox"}'/>   
          <input type="submit" value="Перейти" data-role='button' data-inline="true">
    </form>
</div>
</div>

<div data-role="collapsible" data-theme="a" data-content-theme="a">
        <h3 class="ui-btn ui-icon-money ui-btn-icon-right">ПАТ "ПІВДЕННИЙ"</h3>
{{ bank_id_3|safe }}
</div>

<div data-role="collapsible" data-theme="a" data-content-theme="a">
        <h3 class="ui-btn ui-icon-money ui-btn-icon-right">ПАТ "АКБ Київ"</h3>
    {{ bank_id_2|safe }}
</div>

<div data-role="collapsible" data-theme="a" data-content-theme="a">
        <h3 class="ui-btn ui-icon-money ui-btn-icon-right">ПАТ "КРЕДИТПРОМБАНК"</h3>
    {{ bank_id_1|safe}}
</div>

<div data-role="collapsible" data-theme="a" data-content-theme="a">
        <h3 class="ui-btn ui-icon-money ui-btn-icon-right">ПАТ "ВБР"</h3>
    {{ bank_id_4|safe }}
</div>

<div data-role="collapsible" data-theme="a" data-content-theme="a">
        <h3 class="ui-btn ui-icon-credit-card ui-btn-icon-right">Основная касса (грн)</h3>
    {{ bank_id_0|safe }}
</div>

{{ content | safe }}

{% endblock %}
