<!-- extend from base layout -->
{% extends "main.html" %}


{% block content %}
<div data-role="page" id="login" data-url="/login">

<div class="wide">
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li style="color: red;">{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

<h1>Авторизируйтесь</h1>
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
    Имя:{{form.openid(size=40)}}<br>
            {% for error in form.errors.openid %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
    Пароль: {{form.password(size=37)}}<br>
    </p>
     <p><input type="submit" value="Войти" data-role='button' data-inline="true"></p>
</form>
</div>
{% endblock %}

