<!DOCTYPE html>
<html>
<head>
<title>ABZ uInformed&trade; 2</title>
<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="/static/css/main.css/">

<link rel="stylesheet" href="/static/js/jquery.mobile-1.4.2.min.css" />

<script src="/static/js/jquery-1.11.0.js"></script>

<script type="text/javascript">
$(document).bind("mobileinit", function () {
    $.mobile.ajaxEnabled = false;
    $.mobile.touchOverflowEnabled = true;
    $.mobile.loadingMessage = "Загрузка";

});
</script>

<script src="/static/js/jquery.mobile-1.4.2.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){

        $(".slidingDiv").hide();
        $(".show_hide").show();

    $('.show_hide').click(function(){
    $(".slidingDiv").slideToggle();
    });

});
</script>

{% block dt %}



{% endblock %}

</head>
<body>
<div id="wrapper">
<div id="header">
    <div  data-role="header" data-position="fixed"> 
        <h2>{{title|safe}}</h2>
    <div data-role="navbar" data-grid="b" data-theme="b">   
    <ul>
        <li><a href="/"><img src="/static/images/home.png" style="float: left;" class="ui-btn-active"></img>Главная</a></li>
        <li><a href="/bank"><img src="/static/images/dollar.png" style="float: left;"></img>Счета</a></li>
        <li><a href="/logout"><img src="/static/images/exit.png" style="float: left;"></img>Выход</a></li>
    </ul>
    </div><!-- /navbar -->    
    </div> 
</div>

        <div id="contentwrap">
        <div id="content">
<div data-role="content">


<div class="child_div_1">
{{summary|safe}}
</div>

{% block page %}
    {% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li style="color: red;">{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

        {{ content| safe }}


    {% endblock %}
{% endblock %}
</div>
        </div>
        </div>

<div id="footer">
<div data-role="footer" data-grid="b">
    <h4>
    {{footer|safe}}
    </h4>
</div>
    </div>
</body>
</html>
