<!DOCTYPE html>
<html>
<head>
<title>ABZ uInformed&trade; 2</title>
<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="/static/css/main.css/">

<link rel="stylesheet" href="/static/js/jquery.mobile-1.4.2.min.css" />

<script src="/static/js/jquery-1.11.0.js"></script>

<link rel="stylesheet"  href="/static/css/jqm-icon-pack-fa.css" />



<script type="text/javascript">
$(document).bind("mobileinit", function () {
    $.mobile.ajaxEnabled = false;
    $.mobile.touchOverflowEnabled = true;
    $.mobile.loadingMessage = "Загрузка";

});
</script>

{% if t=='a' %}
<style>
    body {
    background: #ededed !important;
    }
    .ui-page, .ui-body-c, .ui-page-active, .ui-overlay-c, .ui-mobile-viewport {
    background: #ededed !important;
    }
</style>
    {% else %}
<style>
    body {
    background: #373737 !important;
    }
    .ui-page, .ui-body-c, .ui-page-active, .ui-overlay-c, .ui-mobile-viewport {
    background: #373737 !important;
    }
</style>
  
{% endif %}

<script src="/static/js/jquery.mobile-1.4.2.min.js"></script>



{% block dt %}



{% endblock %}

</head>
<body>
<div id="wrapper">
<div id="header">
    <div  data-role="header" data-theme="{{t}}"> 
        <a href="/index/sw" data-icon="eye">&nbsp</a>
        <a href="/" data-icon="home">Главная</a>
        <h2>{{title|safe}} {{summary|safe}}</h2><br>
    <div data-role="navbar">   
    <ul>
        <li><a href="/bank" class="ui-icon-bar-chart-o ui-btn-icon-left">Счета</a></li>
        <li><a href="/monitor" class="ui-icon-laptop ui-btn-icon-left">Монитор</a></li>
        <li><a href="/logout" class="ui-icon-power ui-btn-icon-left">Выход</a></li>
    </ul>
    </div><!-- /navbar -->    
    </div> 


        <div id="contentwrap">
        <div id="content">
<div data-role="content">


{% block page %}
    {% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li style="color: red;">{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

        {{ content| safe }}


    {% endblock %}
{% endblock %}
</div>
        </div>
        </div>

<div id="footer">
<div data-role="footer" data-grid="b" data-theme="{{t}}" data-position="fixed">
    <h3>
    {{footer|safe}}
    </h3>
</div>
    </div>
</body>
</html>
