{% extends "mobile.html" %}

{% block dt %}

<script type="text/javascript">
	$(function() {
		$('#date').datepicker({
			showOn: 'both',
			buttonImage: "/static/images/calendar.png",
			buttonImageOnly: true,
			autoSize: true,
			onSelect: function (dateText, inst) {
				$(this).parent('form').submit();
			}
		});
	});
</script>


 <script>
$(function() {
$( "#tabs" ).tabs();
});
</script>

{% endblock %}

{% block content %}



<div id="tabs">
  <ol>
      <li><a href="#tabs-1"><img src="/static/images/banks.png"</img></a></li>
    <li><a href="#tabs-2"><img src="/static/images/banks.png"</img></a></li>
    <li><a href="#tabs-3"><img src="/static/images/banks.png"</img></a></li>
    <li><a href="#tabs-4"><img src="/static/images/banks.png"</img></a></li>
    <li><a href="#tabs-5"><img src="/static/images/cash.png"</img></a></li>
  </ol>

<div class="datepicker" slyle="float: left;" >
    <form id="frmDate" action="" method="post" >
	    <input id="date" title="Календарь" name="date" type="hidden"  />
    </form>
</div>

<div id="tabs-1" >
    {{ bank_id_3|safe }}
</div>

<div id="tabs-2">
    {{ bank_id_2|safe }}
</div>

<div id="tabs-3">
    {{ bank_id_1|safe}}
</div>

<div id="tabs-4">
    {{ bank_id_4|safe }}
</div>

<div id="tabs-5">
    {{ bank_id_0|safe }}
</div>





{{ content | safe }}

{% endblock %}
