{% extends "main.html" %}

{% block dt %}

{% endblock %}

{% block content %}
 <div data-role="collapsibleset" data-theme="a" data-content-theme="a">   
     <br>
     <br>
 <div data-role="collapsible" data-theme="a" data-content-theme="a" class="ui-btn ui-icon-calendar ui-btn-icon-left">
    <h3>Календарь</h3>
    <form action="#" method="POST">
          <input value="" name="date" type="date" data-role="datebox" id="date" data-theme="a"
          data-options='{"mode":"calbox"}'/>   
          <input type="submit" value="Перейти" data-role='button' data-inline="true">
    </form>
</div>
</div>

<div data-role="collapsibleset" data-theme="b" data-content-theme="b" class="ui-btn ui-icon-usd ui-btn-icon-left"> 
    <div data-role="collapsible" data-theme="a" data-content-theme="a">
            <h3>Финансы (Остатки)</h3>
            {{ part_1|safe }}
    </div>
    
    <div data-role="collapsible" data-theme="a" data-content-theme="a">
        <h3>Финансы (Приход)</h3>
    {{ part_7|safe }}
    </div>

    <div data-role="collapsible" data-theme="a" data-content-theme="a">
        <h3>Дебиторы</h3>
    {{ part_5|safe }}
    </div>

    <div data-role="collapsible" data-theme="a" data-content-theme="a">
        <h3>Кредиторы</h3>
    {{ part_6|safe }}
    </div>

    <div data-role="collapsible" data-theme="a" data-content-theme="a">
        <h3>Финансы (Отгрузка)</h3>
        {{ part_3|safe}}
    </div>

    <div data-role="collapsible" data-theme="a" data-content-theme="a">
        <h3>Финансы (Отгружено)</h3>
    {{ part_9|safe }}
    </div>
</div>
<div data-role="collapsible" data-theme="a" data-content-theme="a">
        <h3>Выпуск</h3>
    {{ part_2|safe }}
</div>

<div data-role="collapsibleset" data-theme="b" data-content-theme="b" class="ui-btn ui-icon-check ui-btn-icon-left">
<div data-role="collapsible" data-theme="a" data-content-theme="a">
        <h3>Сырье (Остатки)</h3>
    {{ part_4|safe }}
</div>



<div data-role="collapsible" data-theme="a" data-content-theme="a">
        <h3>Выпуск</h3>
    {{ part_8|safe }}
</div>


<div data-role="collapsible" data-theme="a" data-content-theme="a">
        <h3>Сырье (Приход)</h3>
    {{ part_10|safe }}
</div>
</div>
{{ content | safe }}

{% endblock %}
