{% extends "main.html" %}

{% block dt %}

{% endblock %}

{% block content %}
 <div data-role="collapsibleset" data-theme="{{t}}" data-content-theme="{{t}}">   
    <h3 class="ui-btn ui-icon-calendar ui-btn-icon-left">Календарь</h3>
    <form action="#" method="POST">
          <input value="" name="date" type="date" data-role="datebox" id="date" data-theme="{{t}}"
          data-options='{"mode":"calbox"}'/>   
          <input type="submit" value="Перейти" data-role='button' data-inline="true">
         <input type="submit" value="<" name='prev' data-role='button' data-inline="true">
         <input type="submit" value=">" name='next' data-role='button' data-inline="true">

    </form>
</div>

<div data-role="collapsibleset" data-theme="{{t}}" data-content-theme="{{t}}" class="ui-btn ui-icon-usd ui-btn-icon-left"> 
<h3>Текущее состояние</h3>

    <div data-role="collapsible" data-theme="{{t}}" data-content-theme="{{t}}">
            <h3>Остатки (грн)</h3>
            {{ part_1|safe }}
    </div>

<div data-role="collapsible" data-theme="{{t}}" data-content-theme="{{t}}">
        <h3>Выпуск (т)</h3>
    {{ part_2|safe }}
</div>

    <div data-role="collapsible" data-theme="{{t}}" data-content-theme="{{t}}">
        <h3>Отгружено (грн)</h3>
        {{ part_3|safe}}
    </div>

<div data-role="collapsible" data-theme="{{t}}" data-content-theme="{{t}}">
        <h3>Сырье (т)</h3>
    {{ part_4|safe }}
</div>


    <div data-role="collapsible" data-theme="{{t}}" data-content-theme="{{t}}">
        <h3>Дебиторы</h3>
    {{ part_5|safe }}
    </div>

    <div data-role="collapsible" data-theme="{{t}}" data-content-theme="{{t}}">
        <h3>Кредиторы</h3>
    {{ part_6|safe }}
    </div>




</div>

<div data-role="collapsibleset" data-theme="{{t}}" data-content-theme="{{t}}" class="ui-btn ui-icon-gear ui-btn-icon-left">
<h3>За год</h3>

    <div data-role="collapsible" data-theme="{{t}}" data-content-theme="{{t}}">
        <h3>Приход (грн)</h3>
    {{ part_7|safe }}
    </div>

<div data-role="collapsible" data-theme="{{t}}" data-content-theme="{{t}}">
        <h3>Выпуск (т)</h3>
    {{ part_8|safe }}
</div>


    <div data-role="collapsible" data-theme="{{t}}" data-content-theme="{{t}}">
        <h3>Отгружено (грн)</h3>
    {{ part_9|safe }}
    </div>


<div data-role="collapsible" data-theme="{{t}}" data-content-theme="{{t}}">
        <h3>Сырье (т)</h3>
    {{ part_10|safe }}
</div>
</div>

<div class='wide'>
</div>

{{ content | safe }}

{% endblock %}
